<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your 1# Restaurant App">
  <meta charset="UTF-8">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="../public/images/logo/icon-256x256.png">
  <link rel="icon" href="./images/logo/icon-256x256.png" type="image/png">
  <title>JW.Co</title>
</head>
<body>
  <a href="#main" id="skip-link" tabindex="0">Skip to Content</a>
  <nav id="drawer" class="nav">
    <p class="nav__title">JW.Co</p>
    <a href="#" id="hamburger">☰</a>
    <ul class="nav__list">
      <li class="nav__item"><a href="#/home" id="home">Home</a></li>
      <li class="nav__item"><a href="#/favorite" id="favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/jeremy-william-siahaan-67906021b" id="about">About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">JW.Co</h1>
      <p class="hero__tagline">Your 1# Restaurant App</p>
    </div>
  </div>
  <main id="main" tabindex="0">
    <section class="content">
      <article id="content__item">
      </article>
    </section>
  </main>
  <footer>
    <p class="footer-text">&copy;2023 JW.Co</p>
  </footer>
</body>
</html>
